@model BlogMvc5.Models.Posts

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (@Html.BeginForm("Create", "Post", FormMethod.Post))
{
    <table class="table">
        <tr>
            <td>
                @Html.LabelFor(model => model.Title)
            </td>
            <td>
                @Html.TextBoxFor(model => model.Title, new { @class = "form-control" })
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.Content)
            </td>
            <td>
                @Html.TextAreaFor(model => model.Content, new { @class = "ckeditor", id = "ckeditor" })
            </td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Create" class="btn btn-success" /></td>
        </tr>
    </table>
}
@section scripts
{
    <script src="~/Scripts/ckeditor/ckeditor.js"></script>
<script>
    CKEDITOR.replace('ckeditor', { filebrowserImageUploadUrl: '/Uploader/Upload', filebrowserImageBrowseUrl: "/Uploads" });
</script>

}
