@model BlogMvc5.Models.Posts

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
<article>
    <h2>@Html.DisplayTextFor(model => model.Title)</h2>
    <p>@Html.Raw(@Model.Content)</p>
    @*<section>
        @foreach (var comments in Model.Comments)
        {
            <p>@comments.Body</p>
            <br />
        }
    </section>*@
    <section>
        <ul>
            @foreach (var Tags in Model.Tags)
            {
                <li>
                    <a href="/Post/Tags/@Tags.TagId"><p>@Tags.TagName</p></a>  
                </li>
            }
        </ul>
    </section>
    <section>
        <fieldset>
            <legend>Comments</legend>
            <div>
                @Html.Partial("DisplayComments")
            </div>
        </fieldset>
    </section>
</article>
