@model BlogMvc5.Models.Posts

@{
    ViewBag.Title = "Details";
}
<br />
@if (User.IsInRole("Managers"))
{
    @Html.ActionLink("Delete", "Delete", "Post", new { id = Model.Id }, new { @class = "btn btn-danger" })
}
@if (User.IsInRole("Managers"))
{
    @Html.ActionLink("Edit", "Edit", "Post", new { id = Model.Id }, new { @class = "btn btn-info" })
}
<article>
    <div class="panel panel-default">
        <div class="panel-body panel-heading">
            <h4>@Html.DisplayTextFor(model => model.Title)</h4>
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-body ">
            <div>
                <p>@Html.Raw(@Model.Content)</p>
                <hr />
                <section>
                    <div class="panel panel-info">
                        <div class="panel-body panel-heading">
                            <ul>
                                <strong>  Tags:</strong>
                                @foreach (var Tags in Model.Tags)
                                {

                                    <li class="btn btn-default">
                                        <a href="/Post/Tags/@Tags.TagId"><p>@Tags.TagName</p></a>
                                    </li>


                                }
                            </ul>
                        </div>
                    </div>
                </section>
                <section>
                    <fieldset>
                        <legend>Comments</legend>
                        <div>
                            @Html.Partial("DisplayComments")
                        </div>
                    </fieldset>
                </section>
            </div>
        </div>
    </div>
</article>
